PROJECT_NAME=Mesa Justa
GLOBAL_PREFIX=api/v1

# Context7
# https://context7.com/dashboard
# Seção API Keys, comando Create API Key
CONTEXT7_API_KEY=[CONTEXT7_API_KEY]

# Stitch
# https://stitch.withgoogle.com/settings
# Seção Chave de API, comando Criar chave
STITCH_API_KEY=sua_chave_do_stitch_aqui

# Vercel
# https://vercel.com/account/settings/tokens
# Seção Create token, comando Create
VERCEL_API_TOKEN=seu_token_da_vercel_aqui

# Supabase
# https://supabase.com/dashboard/account/tokens
# Seção Classic Tokens, comando Generate new token
SUPABASE_ACCESS_TOKEN=seu_token_do_supabase_aqui
NEXT_PUBLIC_SUPABASE_URL=sua_url_do_supabase_aqui
NEXT_PUBLIC_SUPABASE_ANON_KEY=sua_chave_anonima_do_supabase_aqui
DATABASE_URL=sua_url_de_conexao_do_postgresql_aqui
DIRECT_URL=sua_url_direta_do_postgresql_aqui

# Clerk
# https://dashboard.clerk.com/apps/
# Seção Applications, comando Create application
# Selecionar a aplicação criada, menu Configure, seção API Keys, comando Quick copy
NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY=[NEXT_PUBLIC_CLERK_PUBLISHABLE_KEY]
CLERK_SECRET_KEY=[CLERK_SECRET_KEY]
# Seção API Keys, item JWKS Public Key (usar aspas duplas para envolver conteúdo)
CLERK_JWT_KEY="sua_chave_jwt_publica_do_clerk_aqui"

# Aplicação
FRONTEND_PORT=3000
BACKEND_PORT=3001
NEXT_PUBLIC_API_URL=http://localhost:3005/v1
